name: Open-CE XGBoost Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.8","3.9","3.10"]

    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2.0.0
        with:
          auto-update-conda: false
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          pip install .
      - name: Build XGBoost
        shell: bash -l {0}
        # yamllint disable rule:line-length
        run: |
          open-ce build env xgboost-env \
                            --container_build \
                            --python_versions ${{ matrix.python-version }} \
                            --build_types cpu
        # yamllint enable rule:line-length
